.container {
    margin: 20px 152px 20px 160px;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    width: 582px;
    height: auto;
    margin: 50px auto 50px;
    background-color: #FF6060;
    border-radius: 5px;
}

.title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}

.text {
    background: #F6F6F6;
    height: 350px;
}

.text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    padding: 10px;
    display: inline-block;
}

.equipment {
    list-style: none;
    padding: 10px;
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 10px;
}

.equipment:nth-child(1) {
    margin-top: 10px
}

.titleInfo {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.icon {
    margin-right: 10px;
    color: #fff;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 40px auto 0;
        display: flex;
        flex-direction: column;
    }

    .dropdown {
        width: auto;
        margin: 20px auto 30px;
    }
}

@media (max-width: 425px) {
    .container {
        margin-top: 0
    }

    .dropdown {
        width: auto;
        margin: 20px auto 30px;
    }

    .title {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .dropdown {
        width: auto;
        margin: 20px auto 30px;
    }
}

/* @media (max-width: 1440px) {
    .container {
        width: 100%;
        margin: 10px auto 0;
    }
} */