.container {
    margin: 20px;
}

.dropdown {
    width: 675px;
    height: auto;
    margin: 50px auto 50px;
    background-color: #FF6060;
    border-radius: 5px;
}

.title {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}

.text {
    background: #F6F6F6
}

.text span {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    padding: 20px 20px 20px 10px;
    display: inline-block;
}

.titleInfo {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.icon {
    margin-right: 10px;
    color: #fff;
}

@media (max-width: 425px) {
    .container {
        width: 100%;
        margin: 40px auto 0;
    }

    .dropdown {
        width: auto;
        margin: 20px auto 30px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: auto
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%
    }

    .dropdown {
        width: auto;
        margin: 20px auto 30px;
    }
}