.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 1400px;
  margin-left: 155px;
}

.logo img {
  width: 150px
}

.links {
  display: flex
}

a {
  color: #FF6060;
  text-decoration: none;
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}

@media (min-width: 320px) {
  .navbar {
    width: 100%;
    padding: 5px;
    margin: 0;
  }

  .logo img {
    width: 100px;
  }

  .links {
    display: flex;
    flex-direction: row;
  }

  .logo a {
    margin: 0
  }

  a {
    font-size: 18px
  }
}

@media (min-width: 1024px) {
  .navbar {
    width: 100%;
    padding: 5px;
    margin: 0;
  }

  .logo img {
    width: 120px;
  }

}

@media (min-width: 768px) {
  .link {
    font-size: 20px;
    line-height: 30px;
  }

  .link:hover {
    text-decoration: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
  }

  .link {
    margin: 5px 0;
  }
}